body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

.repository-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.repository-details-content {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100%;
  max-width: 28rem;
  margin: auto;
}

.repository-details-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #1a4c8b;
}

.repository-details-info p {
  margin-bottom: 0.5rem;
}

.repository-details-languages {
  margin-top: 1rem;
}

.repository-details-language {
  margin: 0.25em 0;
  font-size: 0.875rem;
  list-style-type: square;
}
